html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
canvas{
    display: block;
}
h1{
    margin: 0;
    padding-left: 1em;
}
label{
    font-size: 1.3em;
}
nav{
    display: flex;
    height: 8vh;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    user-select: none;
    color: white;
}
button{
    color: white;
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
#navItems{
    width: 40%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: none;
    height: 100vh;
    position: absolute;
    top: 8vh;
    right: 0;
    background: #5741E1;

}
#navButton{
    text-decoration: none;
    font-size: 1.5em;
    padding-right: 1em;
    color: white;
}
#shapeContainer{
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
.navItem{
    font-size: 1.4em;
    height: 2em;
}
.active{
    background: #6411E1;
}